@import 'src/styles/functions.scss';

.container {
  display: flex;
  padding: space(m1) space(m3);
  justify-content: center;
  align-items: center;
  gap: space(xs);
  border-radius: radius(sm);
  border: 1px solid getThemeColor(primary-main);
  color: getThemeColor(primary-main);
  min-height: 20px;
}
