@import 'src/styles/functions.scss';

$codeBoxWidth: 65px;

.container {
  position: relative;
  direction: ltr;
}
.codeContainer {
  cursor: pointer;
  top: space(m1);
  bottom: space(m1);
  left: space(m1);
  position: absolute;
  display: flex;
  padding: space(xs) space(m1) !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: $codeBoxWidth !important;
  height: 32px !important;
  gap: space(xs);
  background-color: getThemeColor(primary-main, 5) !important;
  &[data-disabled='true'] {
    cursor: default;
  }
  &[data-readonly='true'] {
    cursor: default;
  }
}
.phoneInput {
  padding-left: calc($codeBoxWidth + space(xs) + space(m3));
}
