@import 'src/styles/functions';

.addBox {
  display: flex;
  justify-content: space-between;
  gap: space(l1);
  align-items: center;
  background-color: getColor(var(--theme-primary-background), 80);
  border-radius: radius(md);
  padding: space(xs) space(m1);

  width: 12rem;

  &__count {
    border: 2px dashed getColor(var(--theme-primary-text));
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
