@import 'src/styles/functions.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.25rem;
  background-color: getColor(var(--theme-secondary-background));
  box-shadow: 1px 1px 5px 1px rgba(var(--color-blue-stone), 0.04) !important;
  color: getColor(var(--theme-primary-text));
  width: 100%;

  & > div {
    flex: 1;
    margin: 0 0.625rem;
  }

  .companyInfo > div {
    padding-bottom: 1.25rem;
  }

  .companyInfo,
  .navLinks,
  .socialMedia {
    h4 {
      margin-bottom: 0.625rem;
      font-size: 1rem;
    }
    a {
      &:hover {
        color: getColor(var(--color-bondy-blue));
      }
    }
    p,
    ul,
    a {
      font-size: 1rem;
      color: #666;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 0.313rem;
      }
      a {
        text-decoration: none;
        &:hover {
          color: getColor(var(--color-bondy-blue));
        }
      }
    }
    a {
      display: block;
      margin-bottom: 0.313rem;
    }
  }
}
