@import 'src/styles/functions';
@import 'src/styles/mixins';

.navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  gap: space(l1);

  &__link {
    color: getColor(var(--theme-primary-text)) !important;
  }

  &__linkSelected {
    color: getColor(var(--theme-primary-dark)) !important;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.navbar p:hover {
  color: getColor(var(--theme-primary-main)) !important;
}
