@import 'src/styles/functions';

.alert {
  display: flex;
  flex-direction: column;
  padding: space(l4);
  gap: space(4m1);

  &__head {
    display: flex;
    gap: space(xs);
    align-items: center;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: space(xs);
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: space(m3);
  }
}
