:root {
  // define colors variables
  --color-blue-stone: #015d67;
  --color-bondy-blue: #00acb1;
  --color-riptide: #87e4db;
  --color-tea-green: #caf0c1;
  --color-ebony-clay: #2a2d40;
  --color-gumbo: #71a2a7;
  --color-shadow-green: #99bdc1;
  --color-geysar: #d5e4e6;
  --color-aqua-haze: #fafcfc;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-torea-bay: #0f3492;
  --color-royal-blue: #295de1;
  --color-alizarin-crimson: #e32322;
  --color-sunset-orange: #f74b4a;
  --color-gold-tips: #ecb814;
  --color-amber: #fec101;
  --color-christi: #4da513;
  --color-lima: #61d215;
  --color-martinique: #303346;

  // define color rgb for adding opacity
  --rgb-blue-stone: 1, 93, 103;
  --rgb-bondy-blue: 0, 172, 177;
  --rgb-riptide: 135, 228, 219;
  --rgb-tea-green: 202, 240, 193;
  --rgb-ebony-clay: 42, 45, 64;
  --rgb-gumbo: 113, 162, 167;
  --rgb-shadow-green: 153, 189, 193;
  --rgb-geysar: 213, 228, 230;
  --rgb-aqua-haze: 250, 252, 252;
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-torea-bay: 15, 52, 146;
  --rgb-royal-blue: 41, 93, 225;
  --rgb-alizarin-crimson: 227, 35, 34;
  --rgb-sunset-orange: 247, 75, 74;
  --rgb-gold-tips: 236, 184, 20;
  --rgb-amber: 254, 193, 1;
  --rgb-christi: 77, 165, 19;
  --rgb-lima: 97, 210, 21;
  --rgb-martinique: 48, 51, 70;
}
