@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 200;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-UltraLight.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-UltraLight.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 300;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-Light.woff') format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-Light.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 400;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-Regular.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-Regular.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 500;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-Medium.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-Medium.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 600;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-SemiBold.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-SemiBold.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 700;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-Bold.woff') format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-Bold.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 800;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-ExtraBold.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-extrabold.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 850;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-black.woff') format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-black.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 900;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-Heavy.woff') format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-Heavy.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: bold;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-bold.woff') format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-bold.woff2')
      format('woff2');
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: normal;
  src:
    url('/src/assets/font/morabba/fonts/woff/Morabba-regular.woff')
      format('woff'),
    url('/src/assets/font/morabba/fonts/woff2/Morabba-regular.woff2')
      format('woff2');
}
