@import 'src/styles/functions';
@import 'src/styles/mixins';

.containerBox {
  border-radius: radius(md);
  border: 1px solid getColor(var(--theme-primary-dark), 3);
  backdrop-filter: blur(200px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1250px;
  width: 100%;

  box-shadow: 1px 1px 5px 1px getColor(var(--theme-primary-dark), 4);

  &__header {
    padding: space(m3) space(m4);
    border-bottom: 1px solid getColor(var(--theme-border-dark), 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    @include disable-select;
    cursor: pointer;
    border-radius: radius(md) radius(md) 0 0;

    &:hover {
      background-color: getColor(var(--theme-primary-main)) !important;
      color: #fff;
      h4 {
        color: #fff !important;
      }
    }
  }

  &__headerNoHover {
    cursor: default;
    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__content {
    padding: space(l1);
  }
}
