@import 'src/styles/functions';

.bottom {
  padding: space(m4-1) space(l1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: space(m4);
  flex-wrap: wrap;

  //TODO for responsive after breakpoint change center or space around and set button width to 100%
}
