@import 'src/styles/functions';

.table {
  border-collapse: collapse;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}

.tr {
  min-height: 3.75rem;
  border-top: 1px solid getColor(var(--theme-border-main));
}

.tbody {
  background-color: getColor(var(--theme-secondary-backround));
}

th {
  padding: 20px 4px;
}

.thead {
  background-color: getColor(var(--theme-white));

  & tr {
    height: 2.8125rem;
  }
  & th {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: getColor(var(--theme-primary-main));
  }
}

.td {
  padding: 10px;
  color: #2a2d40;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
