@import 'src/styles/functions';

.table-container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.tr {
  min-height: 3.75rem;
  border-top: 1px solid getColor(var(--theme-border-main));
}

.tbody {
  tr:nth-child(even) {
    background-color: getThemeColor(primary-background);
  }
  background-color: getThemeColor(secondary-background);
}

.rowCell {
  td:first-child {
    width: 5rem;
  }
}

.actionCell {
  td:last-child {
    width: 6.25rem;
  }
}

th {
  padding: 20px 6px;
}

.thead {
  background-color: getColor(var(--theme-white));
  & tr {
    height: 2.8125rem;
  }
  & th {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: getColor(var(--theme-primary-main));
    white-space: nowrap;
  }
}

.td {
  padding: 10px;
  color: getThemeColor(primary-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
