// styles.module.scss
@import 'src/styles/functions';
@import 'src/styles/mixins';

.panel {
  &__card {
    border-radius: radius(md);
    background-color: getColor(var(--theme-primary-background));
    padding: space(l1);
    border: 2px solid getColor(var(--theme-border-dark), 20);
    box-shadow:
      rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    cursor: pointer;
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover {
      box-shadow:
        rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
        rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
        rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
        rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
        rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
      transform: translateY(-5px);
    }

    @include disable-select;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center; // Align items horizontally
    gap: 1rem;
  }

  &__cardIcon {
    font-size: 2rem;
  }

  &__cardText {
    text-align: center;
  }
}
