@import '../../../styles/functions';
@import '../../../styles/mixins';

.button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  outline: none;
  cursor: pointer;

  @include svg;

  background-color: getColor(var(--theme-secondary-background));
  border: 1px solid getColor(var(--theme-border-main));
  @include svg-color(getColor(var(--theme-primary-text)));

  &:hover {
    background-color: getColor(var(--theme-secondary-main));
    border: 1px solid getColor(var(--theme-secondary-main));
    @include svg-color(getColor(var(--theme-primary-dark)));
  }

  &[data-transparent='true'] {
    width: 2.275rem;
    height: 2.275rem;
    background-color: getColor(transparent);
    border: 1px solid getColor(transparent);
    @include svg-color(getColor(var(--theme-primary-text)));

    &:hover {
      background-color: getColor(var(--theme-primary-main), 10);
      border: 1px solid getColor(transparent);
      @include svg-color(getColor(var(--theme-primary-text)));
    }
  }
}

.small{
  width: 2.275rem;
  height: 2.275rem;
}
