@import 'src/styles/functions.scss';
@import 'src/styles/mixins.scss';

.container {
  position: relative;
}
.textBox {
  position: absolute;
  top: space(xs1);
  bottom: space(xs1);
  display: inline-flex;
  align-items: center;
  cursor: text;
  @include start(space(m3));
  border-radius: radius(sm);
  padding: space(xs1);
  background-color: getThemeColor(gray-background);
}
