@import 'src/styles/mixins.scss';
@import 'src/styles/functions.scss';

.card {
  display: flex;
  gap: space(m3);
  margin-block: space(m3);
}

.cardText {
  //   display: flex;
  width: 100%;
}

.cardTopRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: space(m3);
}
