@import 'src/styles/functions.scss';

.container {
  margin-top: space(4m1);
  margin-bottom: space(4m1);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  row-gap: 1.75rem;
  column-gap: 1.25rem;
}
.gridFlowDense {
  grid-auto-flow: dense;
}
.bigColumn {
  // TODO CHECK THIS AFTER PAGE ARE COMPLETE
  /* If the screen is larger than 605px */
  @media (min-width: 605px) {
    grid-column: auto/span 2;
  }
}
.startFromNextRow {
  grid-column-start: 1;
}
.fullWidthColumn {
  grid-column-start: 1;
  grid-column-end: -1;
}
.gap20 {
  gap: 1.25rem;
}
.gridButton {
  display: flex;
  align-items: flex-end;

  button {
    height: 3rem !important;
  }
}
