@import 'src/styles/functions.scss';

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: space(l3);
  min-width: 230px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: space(m4);
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.button {
  width: 100%;
}
