@import 'src/styles/functions';

.notif {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: space(xs);

  &__head {
    display: flex;
    align-items: center;
    gap: space(xs);
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: space(xs);
  }

  &__icon {
    display: inline-flex;
  }
}

:global .toastBody {
  border-radius: radius(md) !important;
  padding: space(m3) space(2m3) !important;
}

:global .Toastify__toast-body {
  margin: 0 0 !important ;
}

:global .toast {
  border-radius: radius(md) !important;
  padding: 0 !important;
  backdrop-filter: blur(5px);
  background: getThemeColor(primary-background) !important;
}

:global .toastBodyInfo {
  background: getThemeColor(primary-main, 5) !important;
  border: 2px solid getColor(var(--theme-primary-main)) !important;
  box-shadow: 0 0 10px 0 getColor(var(--theme-primary-main), 20) !important;
}
:global .Toastify__progress-bar--info {
  background: getThemeColor(primary-main) !important;
}

:global .toastBodyWarning {
  background: getThemeColor(warning-main, 5) !important;
  border: 2px solid getColor(var(--theme-warning-main)) !important;
  box-shadow: 0 0 10px 0 getColor(var(--theme-warning-main), 20) !important;
}
:global .Toastify__progress-bar--warning {
  background: getThemeColor(warning-main) !important;
}

:global .toastBodyError {
  background: getThemeColor(danger-main, 5) !important;
  border: 2px solid getColor(var(--theme-danger-main)) !important;
  box-shadow: 0 0 10px 0 getColor(var(--theme-danger-main), 20) !important;
}
:global .Toastify__progress-bar--error {
  background: getThemeColor(danger-main) !important;
}

:global .toastBodySuccess {
  background: getThemeColor(success-main, 5) !important;
  border: 2px solid getColor(var(--theme-success-main)) !important;
  box-shadow: 0 0 10px 0 getColor(var(--theme-success-main), 20) !important;
}
:global .Toastify__progress-bar--success {
  background: getThemeColor(success-main) !important;
}
