@import 'src/styles/functions.scss';
@import 'src/styles/mixins.scss';

$iconSize: 2.275rem;
$padding-end: calc(space(m1) + $iconSize);

.container {
  position: relative;
}
.iconContainer {
  position: absolute;
  top: space(xs1);
  cursor: default;
  bottom: space(xs1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include end(space(xs));
}
.imageIcon {
  width: $iconSize;
  // height: $iconSize;
}
.input {
  &[data-has-icon='true'] {
    padding-inline-end: $padding-end;
  }
}
