@import 'src/styles/functions';

.productViewer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__backdrop {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 100%;
    background: linear-gradient(
      to bottom,
      getColor(var(--theme-primary-background), 30) 0%,
      getColor(var(--theme-primary-background), 40) 30%,
      getColor(var(--theme-primary-background), 80) 80%,
      getColor(var(--theme-primary-background), 85) 95%,
      getColor(var(--theme-primary-background), 100) 100%
    );
    backdrop-filter: blur(100px);
  }

  &__imgContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
  }

  &__img {
    width: 100%;
    height: auto;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: radius(lg);
    object-fit: cover;
  }

  &__details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    gap: space(m1);
  }

  &__topContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__featurePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  &__description {
    background-color: getColor(var(--theme-primary-dark), 10);
    border-radius: radius(md);
    padding: 1rem;
    margin-top: 1rem;
  }

  &__rating {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__buyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(l2);
    padding: space(l1);
    background-color: getColor(var(--theme-secondary-main), 50);
    border-radius: radius(md);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &__backdrop {
      flex-direction: row;
      align-items: center;
      padding: 2rem;
    }

    &__imgContainer {
      width: 40%;
      max-width: none;
      padding-right: 2rem;
    }

    &__content {
      width: 60%;
      padding-left: 2rem;
    }

    &__topContent {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      align-items: flex-start;
    }

    &__featurePart {
      align-items: flex-start;
      margin-top: 2rem;
    }

    &__description {
      margin-top: 2rem;
    }

    &__rating {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 1024px) {
    &__backdrop {
      padding: 3rem;
    }

    &__imgContainer {
      width: 35%;
    }

    &__content {
      width: 65%;
    }

    &__topContent {
      gap: 3rem;
    }

    &__featurePart {
      margin-top: 3rem;
    }
  }
}
