@import 'src/styles/functions';

.pageTable {
  overflow: hidden;
  &__container {
    border: 1px solid getColor(var(--theme-border-main));
    box-shadow: 0 0 20px 0 getColor(var(--theme-border-main), 20);
    border-radius: radius(lg);
    width: 100%;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: space(2m1) space(l1);
    border-bottom: 1px solid getColor(var(--theme-border-main));
  }

  &__headingTitle {
    display: flex;
    justify-content: flex-start;
    gap: space(xs);
    align-items: center;
  }

  &__headIconButtons {
    display: flex;
    gap: space(xs);
  }

  &__filterSearch {
    display: flex;
    gap: space(m3);
    padding: space(2m1) space(l1);
    align-items: flex-end;
    border-bottom: 1px solid getColor(var(--theme-border-main));
  }

  &__gridTable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    padding: space(l1);
    grid-gap: space(l1);
    background-color: getColor(var(--theme-secondary-background));
  }

  &__gridRow {
    display: flex;
    flex-direction: column;
    padding: space(l1);
    gap: space(l1);
    background-color: getColor(var(--theme-secondary-background));
  }

  &__tableBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid getColor(var(--theme-border-main));
    gap: space(m3);
    padding: space(2m1) space(l1);
  }

  &__perPageSelector {
    display: flex;
    gap: space(xs);
  }
}
