@import 'src/styles/functions';
@import 'src/styles/mixins';

.checkbox {
  cursor: pointer;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 auto;
    border: 2px solid getColor(var(--theme-border-secondary));
    border-radius: radius(sm);
    @include transition-all;
  }

  &__boxSelected {
    border: 2px solid transparent;
    background-color: getColor(var(--theme-primary-main));
  }

  &__boxDisabled {
    border: 2px solid getColor(var(--theme-border-secondary));
    background-color: getColor(var(--theme-border-main));
  }

  &__input {
    display: none;
  }

  &__content {
    @include disable-select;
    display: flex;
    gap: space(m1);
    align-items: center;
  }
}
